# Dependencies
node_modules

# package-lock.json (use yarn.lock instead)
yarn.lock

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# hide Dev frontend Builds
/public/bundles/panel.bundle.dev.js
/public/bundles/chan.bundle.dev.js

# media storage
/public/media/

# assets
public/assets/countryballs/
