:root {
  --primary-color: #665540;
  --primary-light-color: #93816c;
  --secondary-color: #38393e;
  --secondary-light-color: #5e5e5e;
  --dark: #1d1f21;
  --red: #a60000;
  --text-color: #fcfdfb;
}

html,
body,
.thread {
  background: var(--primary-color);
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 92%;
  line-height: 145%;
}

.thread .title {
  font-weight: bold;
}

.response-btn {
  font-weight: bold;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}
.reflink a {
  color: var(--red) !important;
  font-weight: bold;
}

.reflink a:hover {
  color: var(--secondary-color) !important;
}
.logo {
  color: var(--text-color);
}
.postblock {
  background: var(--primary-light-color);
  text-align: center;
  color: var(--text-color);
  padding: 5px;
  font-weight: bold;
}
.greentext {
  background: inherit;
  color: #1a7d24;
}
.filesize {
  text-decoration: none;
}
.filetitle {
  background: inherit;
  color: #a60000;
  font-weight: bold;
}
.postername {
  color: var(--red);
  font-weight: bold;
}

.reply-container {
  display: flex;
  padding: 0.2rem 0;
}

.reply {
  background: var(--primary-light-color);
  color: var(--text-color);
  padding: 5px;
  border-radius: 5px;
}
.doubledash {
  flex-basis: 1.5%;
  padding: 0 0.5em 0 0;
}
.replytitle {
  font-size: 1.2em;
  color: #cc1105;
  font-weight: 800;
}
.thumbnailmsg {
  font-size: small;
  color: #800000;
}
hr {
  height: 1px;
  color: #c4a38e;
  background-color: #c4a38e;
  border: 0 none;
}

.enviar {
  border: none;
  border-radius: 3px;
  font-size: 13px;
  color: var(--text-color);
  font-weight: bold;
  padding: 3px 9px;
  background-color: var(--primary-light-color);
  cursor: pointer;
  margin-left: 10px;
  padding: 9px 10px 9px 10px;
  float: right;
}
.barra {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-light-color);
  color: var(--secondary-color);
}
.numeros {
  margin-top: -4px;
  padding: 11px 8px 11px 8px;
  border-radius: 5px;
}
#botonresp {
  margin: 0;
  cursor: pointer;
  border-radius: 3px;
  background: #c74343;
  color: #ffffee;
}
#botonresp:hover {
  background: #529e5a;
}
.op {
  display: inline-block;
  font-size: 80%;
  font-weight: normal;
  background: #1f8f2a;
  color: #f8f6da;
  padding: 2px 5px 2px 5px;
  margin-left: 5px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 4px;
}

input[type='text'],
select,
textarea {
  border: 1px solid #b3917b;
  border-radius: 3px;
  background-color: #ffffff;
}

.redtext {
  background: inherit;
  color: #da5364;
}

.page-nav {
  border-radius: 3px;
  background: #c74343;
  color: #ffffee;
}

.page-nav:hover {
  background: #529e5a;
  color: #ffffee;
}
