html, body, .banned-post .thread {
	background:#ffffee !important;
	color:#800000 !important;
        font-family: sans-serif;
        font-size: 92%;
        line-height: 145%;

}


a {
	color:#E60000;
        text-decoration: none;
}
a:hover {
	color:#1f8f2a;
        text-decoration: none;
}
.reflink a {
        color:#E60000 !important;
        font-weight: bold;

}

.reflink a:hover{
        color:#1f8f2a !important;
}
.logo {
	color:#E60000;
}
.replymode {
	color: #ffffee;
	background:#bd0003;
	text-align:center;
	padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
	font-size: 110%;
	width:100%;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
}
.catalogmode {
	color: #ffffee;
	background:#bd0003;
	text-align:center;
	padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 110%;
	width:100%;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
}
.postblock {
	background:#F2E1D6;
        text-align: center;
	color:#a60000;
        padding: 5px;
        font-weight:bold;
        border: 1px solid #DDBEAB;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

}

.passvalid {
	background:#EEAA88;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#AAAA66;
	color:#400000;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}
.greentext {
	background:inherit;
	color:#1A7D24;
}
.filesize {
	text-decoration:none;
}
.filetitle {
	background:inherit;
	color:#a60000;
	font-weight:bold;
}
.postername {
	color:#1F8F2A;
	font-weight:bold;
}
.postertrip {
	color:#1f8f2a;
}

.omittedposts {
	color:#AB5C5C;
	padding: 2px;

}

.reply-container{
	display: flex;
	padding: 0.1rem 0;
}

.reply {
	background: #F2E1D6;
	color: #800000;
        padding: 5px;
        border: 1px solid #DDBEAB;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
}
.replyhl {
	background: #E1E1E1;
	color: #800000;
}
.doubledash {
	flex-basis: 1.5%;
}
.replytitle {
	font-size: 1.2em;
	color:#CC1105;
	font-weight:800;
}
.commentpostername {
	color:#FFFFFF;
	font-weight:800;
}
.thumbnailmsg {
	font-size: small;
	color:#800000;
}
.abbrev {
	color:#9C4040;
        padding-top: 20px;
}
.highlight {
	background: #F0D1BD;
	color: #4F2C2C;
	border: 1px solid #B3917B;
        padding: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
}

.reflinkpreview {
        color:#800000 !important;
	background-color: #ffffee !important;
	border: 1px solid #DDBEAB !important;

}
hr {
height: 1px;
color: #C4A38E;
background-color: #C4A38E;
border: 0 none;
}
.reporte {
text-align: right;
border: 1px solid #DDBEAB;
background: #F2E1D6;
padding: 8px;
margin-bottom: 5px;
border-radius: 5px;
color: #E60000;
}
.enviar{
	border : solid 0px #529E5A;
	border-radius : 3px;
	font-size : 13px;
	color : #ffffff;
	padding : 3px 9px;
	background-color : #529E5A;
	cursor: pointer;
	margin-left: 10px;
	padding: 9px 10px 9px 10px;
	float: right;

}
.enviar:hover{
background: #69B370;
}
.hidethread{
	background-color: #E60000 !important;
	border-radius: 3px;
}
.unhidethread{
	background-color: #E60000 !important;
	border-radius: 3px;
}
.code{
	background:#F4E9E1;
	border: 1px solid #C6865E;
}
.pnuevos { font-size: 70%; font-weight: bold; color: #1C9F2E; position: relative; top: -5px; padding-left: 2px; line-height: 70%;}
.cellcatalog, .cell-recommendation {
	background: #F2E1D6;
        border: 1px solid #DDBEAB;
	border-radius: 5px;
	line-height: 145%;
}
.barra {
	border: 1px solid #DDBEAB;
	background: #F7E8DF;
	border-radius: 5px;
}
.doubledash {
	color: #CE7C7C;
}
.numeros {
border: 1px solid #DDBEAB;
background: #F2E1D6;
margin-top: -4px;
padding: 11px 8px 11px 8px;
border-radius: 5px;
}
.diverror {
border: 1px solid #DDBEAB;
background: #F2E1D6;
line-height: 130%;
padding: 15px;
border-radius: 5px;
}

.divban {
  border-radius: 5px;
  border: 1px solid #DDBEAB;
  background: #F2E1D6;
}

.divboardphp {
font-family: sans-serif;
font-size: 140%;
line-height: 130%;
padding-top: 10px;
}

#quick_reply_window{
border: 1px solid #B3917B !important;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#scrollTop, #scrollBottom {
background-color: #F2E1D6;
border: 1px solid #B3917B;
}

#pcscrollTop, #pcscrollBottom {
background-color: #F2E1D6;
border: 1px solid #B3917B;
}

.cookies{ border-top: 1px solid #B3917B; background: #F2E1D6; }

.expandirhilo {
  padding: 3px 7px 3px 7px;
  margin: 0px 2px 3px 0px;
  cursor: pointer;
  border-radius: 3px;
  background: #C26666;
  color:#ffffee;
  border: 0;
  vertical-align:center;
}

.expandirhilo:hover {
background: #529E5A;
}

#botonresp {
  margin: 0;
  cursor: pointer;
  border-radius: 3px;
  background: #C74343;
  color:#ffffee;
}
#botonresp:hover {
  background: #529E5A;
}

a.furl-open {
  background: #C74343;
  color: #FFFFEE;
}

a.furl-open:hover {
  background: #529E5A;
}

.caducado {
margin-bottom: -17px; color: #2D492C; border: 1px solid #367B35; background: #E3EDE3; padding: 8px; border-radius: 4px;
}

.avisoverde {padding: 10px; background: #E3EDE3; color: #2D492C; border: 1px solid #5FA75E; border-radius: 5px; line-height: 135%;}
.avisorojo {padding: 10px; background: #F5E1DD; color: #C32100; border: 1px solid #E13611; border-radius: 5px; line-height: 135%;}
.op {display: inline-block; font-size: 80%; font-weight: normal; background: #1F8F2A; color: #F8F6DA; padding: 2px 5px 2px 5px; margin-left: 5px; margin-right: 2px; margin-bottom: 2px; border-radius: 4px;}
.admin, .mod, .guest {display: inline-block; font-size: 80%; font-weight: normal; background: #1F8F2A; color: #F8F6DA; padding: 2px 5px 2px 5px; margin-left: 2px; margin-right: 2px; margin-bottom: 2px; border-radius: 4px;}

input[type="text"], select, textarea {
border: 1px solid #B3917B;
border-radius: 3px;
background-color : #ffffff;
}

.eliminar, .reportar{
	border: 1px solid  #BB1616;
	border-radius : 3px;
	font-size : 13px;
	color : #ffffff;
	background-color : #BB1616;
	cursor: pointer;
	padding: 7px;
	opacity: 0.7;
}

.eliminar:hover, .reportar:hover{
	background-color : #E10000;

}

.redtext {
    background:inherit;
    color:#DA5364;
}

.selected {
 background-color: #f0d1bd !important;
 border: 1px solid #b3917b !important;
}


.nothumb { border-color:#B3917B; border-radius: 4px;}

.banned-post .reply{
  border: 1px solid #B3917B;
}

.add-favorite.favorite-added {
  color: #1F8F2A !important;
}

hc-floating-static-window {

--hc-window-border: 3px solid #F2E1D6;
--hc-window-title-bar-border-radius: 5px;


  --hc-background: #F2E1D6;

  --hc-title-bar-background: #BD0003;
  --hc-title-bar-text-color: #FFFFEE;
  --hc-link-color: #E60000;
  --hc-link-color-hover: #1F8F2A;
  --hc-window-border-radius: 5px;

}

hc-favorite-thread-row {
  --hc-preview-background-hover: #1F8F2A30;
  --hc-title-color: #A60000;
}

/* Nos aseguramos que los enlaces y texto dentro de un preview que esta en un spoiler tengan su color original */
.spoiler > .reflinkpreview a, .reflinkpreview a { color: #E60000 !important; }
.spoiler .reflinkpreview .filetitle, .spoiler .reflinkpreview .filesize, .spoiler .reflinkpreview span, .spoiler:hover .reflinkpreview .filesize span {
 color:#a60000 !important;
}
.spoiler .reflinkpreview a:visited {
 color:#e60000 !important;
}
.spoiler .reflinkpreview .postername {
 color:#1F8F2A !important;
}
.spoiler .reflinkpreview .op, .spoiler .reflinkpreview .admin, .spoiler .reflinkpreview .mod, .spoiler .reflinkpreview .guest { color: #F8F6DA !important; }

hc-new-thread-notification {
  --hc-notification-border: 1px solid #B3917B;
  --hc-notification-background: #F2E1D6;
  --hc-notification-color: #800000;
  --hc-notification-border-radius: 5px;
  --hc-notification-title-color: #A60000;
}

hc-settings-list {
  --hc-title-color: #A60000;
  --hc-select-border: 1px solid #B3917B;
  --hc-select-border-radius: 3px;
  --hc-select-background-color: #FFFFFF;
  --hc-input-text-border: 1px solid #B3917B;
  --hc-input-text-border-radius: 3px;
  --hc-input-text-background-color: #FFFFFF;
}

.page-nav {
  border-radius: 3px;
  background: #C74343;
  color: #FFFFEE;
}

.page-nav:hover {
  background: #529E5A;
  color: #FFFFEE;
}

.navbar-mobile {
  background-color: #BD0003;
  color: #FFF9C4;
}

@import url("../css/hispachancodeclaro.css");
