:root {
  --primary-color: #665540;
  --primary-light-color: #93816c;
  --secondary-color: #38393e;
  --secondary-light-color: #5e5e5e;
  --dark: #1D1F21;
  --text-color: #fcfdfb;
}
body{
    background: #FFFFEE;
    color: #800000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.panel-contents{
    display: flex;
    min-height: 89.7vh;
}
.greentext {
  background-color: inherit;
  color: #1a7d24;
}
.redtext {
  background-color: inherit;
  color: #da5364;
}
/* LOGIN */

.login{
    margin: 2em auto;
    padding: 1em 2em;
    width: 30%;
    height: 100%;
    border: 1px solid #DDBEAB;
    background: #F2E1D6;
    border-radius: 4px;
}

.login-header{
    text-align: center;
}

.title {
	margin: 0.5em 0 0 0;
}

.form-block {
	margin: 1.5em 0 1em;
}

.form-label {
	font-size: 0.9em;
}

.form-input{
    width: 98%;
    margin: 0.2em 0;
    width: 98%;
    margin: 0.2em 0;
    padding: 0.4em 0.5em;
    border: 1px solid #b3917b;
    border-radius: 3px;
    background-color: #fff;
}

.form-submit {
	width: 100%;
    height: 2.8em;
    background: #69B370;
    color: #ffffff;
    border-radius: 3px;
    border: solid 0px #529E5A;
    cursor: pointer;
    padding: 9px 10px 9px 10px;
}

.login-error {
	padding: 1em;
	background-color: #e82828;
	margin-top: 0.4em;
	color: #fff;
	border-radius: 4px;
}

.page {
	padding: 0.6em 0;
}

/* PANEL PAGE */

.page-container{
    display: inline-block;
    width: 79%;
    height: 100%;
    vertical-align: top;
}

.page-title {
    padding: 0 0 0 1.3em;
}

/* RECENT POSTS TABLE */

.page-contents{
    margin: 2em;
}

.reply-container{
	display: flex;
	padding: 0.1rem 0;
}

.reply {
	background: #F2E1D6;
	color: #800000;
    padding: 5px;
    border: 1px solid #DDBEAB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.postername {
	color:#1F8F2A;
	font-weight:bold;
}
