<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 
      = `${_siteName} - Imageboard`
    link(rel="stylesheet", href="/css/icons.css")
    link(rel="stylesheet", href="/css/cafechan.css")
    link(rel="stylesheet", href="/css/img_global.css")
  body
    div(style="text-align: center; font-weight: bold; display: flex; flex-direction: column;")
      h1(style="font-size: 7em;") ;_;
      div
        = `ERROR ${code}`
      div
        = message
