include ../layouts/navbar.pug
div.logo
    = '/' + board.name + '/ - ' + board.desc
hr
span.botones
    a( href = '/' + board.name + '/') [Volver]
div.replymode 
    = 'Estás en el hilo ' + thread.seq_id + ' de /' + board.name + '/.'
include thread.postbox.pug
hr