include boardpage.pagination.pug
div.footer
    include ../layouts/navbar.pug
    div.footer-desc 
      include ../layouts/disclaimer.pug
    div.copyright
        a(href=`/contacto`) Contacto
        |  | 
        a(href=`/`)= _siteName
        |  &copy; 2020
