div.postarea
  postbox(
      boardid=board._id,
      boardname=board.name,
    )
    table.postform
      tbody
        tr
          td.postblock(style="height: 24px") Título
          td
            input(type="text", name="title", size="34", max-length="70", style="line-height: 30px;")
            input(type="submit", value="Enviar", class="enviar")
        tr
          td.postblock Post
          td
            textarea(style="vertical-align: top;", maxlength="8000" name="message", cols="46", rows="9")