= `Si eres menor de 18 años, abandona ${_siteName}. Todas las marcas y copyrights en esta página son propiedad de sus respectivos autores. `
= `Las opiniones publicadas en ${_siteName} no tienen por qué reflejar las opiniones de la administración. `
= `${_siteName} está dirigido a personas habituadas al humor y la ironía. Nada de lo escrito en este sitio debe ser tomado en serio.`
