div.footer
    include navbar.pug
    div.footer-desc 
      include ./disclaimer.pug
    div.copyright
        a(href=`/contacto`) Contacto
        |  | 
        a(href=`/`)= _siteName 
        | &nbsp;&copy; 2020
