div.navbar.barra
    div.boards-list
        a(href='/') Inicio
        |  / 
        a(href='/reglas') Reglas
        //- |  [ 
        //- each boardname, index in section
        //-     a(href=`/${boardname}/`).navbar-board
        //-         = boardname
        //-     = (index < boardnames.length - 1)?' / ':''
        //- |  ]
        each section in sections
            if section.boards.length > 0
                | &nbsp;[&nbsp;
                each board, index in section.boards
                    a(href=`/${board.name}/`, title=board.desc)= board.name
                    = (index < section.boards.length - 1)?' / ':''
                | &nbsp;]&nbsp;
            
