= `${_siteName} es un tablón de imágenes (también llamado imageboard o chan) en español donde cualquiera puede escribir mensajes y compartir imágenes.`
!= `<br>Está especialmente dedicado a toda la comunidad hispanohablante de internet y no es necesario estar registrado para participar.`
!= `<br>¡Lee las reglas, elige los tablones que más te interesen y participa!`
